h1 {
	text-align: center;
}

.bottom-left {
	text-align: left;
}

.bottom-right {
	text-align: right;
}

p.error-msg,
p.success-msg {
	color: #fff;
	text-align: center;
	padding: 12px 12px;
}

p.error-msg {
	background-color: #ce0000;
}

p.success-msg {
	background-color: #007e02;
}

nav {
	margin: 24px 0;
}

nav ul {
	list-style: none;
	text-align: center;
	margin-left: 0;
}

nav ul li {
	display: inline;
}

nav ul li:before {
	color: #2199e8;
	font-family: FontAwesome;
  font-size: 6px;
  content: '\f111';
  vertical-align: middle;
  margin: 12px;
}

nav ul li:first-child:before {
	content: '';
	margin-left: 0;
}


.active {
	text-decoration: underline;
}